#image-header {
  background-image: url("../images/airport-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 255, 255);
}

div h1,
div a {
  color: aliceblue;
}

div p {
  color: rgb(225, 230, 234);
}
