/* concierge service */

.concierge-header {
  height: 700px;
  width: 100%;
  background-color: #000000;
  margin-left: 0;
  margin-right: 0;
}

.top-container {
  width: 100%;
}

.concierge-triangle {
  margin-top: 40px;
  width: 100%;
}

.title-text {
  color: var(--main-color);
  padding: 10px;
}

.py-5 {
  padding-top: 1rem !important;
}
.pt-5 {
  background-image: url("../images/airport-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 255, 255);
  height: 500px;
}

.display-4 {
  text-shadow: 2px 2px 4px #000;
}

.text-center p {
  margin-top: 20px;
}

input[type="number"] {
  width: 80px;
}

.concierge-form {
  padding: 30px;
  background-color: rgba(218, 165, 32, 0.2);
}

hr {
  height: 5px;
  background-color: var(--main-color);
}

.input-group-text {
  color: var(--main-color);
}

.radio-btn {
  margin: 10px;
}

.cart {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 5px;
}

/* Media Queries for smaller screens */

@media (max-width: 900px) {
  .concierge-header {
    height: 450px;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .concierge-header {
    height: 300px;
    width: 100%;
  }
}
