/* concierge service */

.concierge-header {
  height: 700px;
  width: 100%;
  background-color: #000000;
  margin-left: 0;
  margin-right: 0;
}

.concierge-triangle {
  margin-top: 40px;
  width: 100%;
}

.title-text {
  color: var(--main-color);
  padding: 10px;
}

.concierge-form {
  padding: 30px;
  background-image: url(../images/Layer.jpg);
  background-size: contain;
}

hr {
  height: 5px;
  background-color: var(--main-color);
}

.input-group-text {
  color: var(--main-color);
}

input[type="number"] {
  width: 80px;
}

.radio-btn {
  margin: 10px;
}

.cart {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 5px;
}

/* Media Queries for smaller screens */

@media (max-width: 900px) {
  .concierge-header {
    height: 450px;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .concierge-header {
    height: 300px;
    width: 100%;
  }
}

@media (max-width: 540px) {
  .title-text {
    font-size: 1.2rem;
  }

  h3 .title-text {
    font-size: 1rem;
  }
}
