/*Import Poppins Font*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/*Import Cinzel Decorative Font */
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.content {
  width: 100%;
  height: 800px;
  position: relative;
  display: inline-block;
}

#vid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#video {
  object-fit: cover;
  width: 99%;
  height: 700px;
  position: absolute;
  z-index: -1;
}

.video-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

#first_container {
  width: 100%;
  background: rgba(0, 0, 0, 0.585);
  padding: 0px;
  min-width: 100%;
}

/*Setting colours to variables in the root element*/
:root {
  --bg-color: #000000;
  --main-color: #daa520;
  --text-color1: #000000;
  --text-color2: #fff;
  --text-color3: #4a1818;
}

.navbar {
  background-image: url("../images/MenuBar.png");
  background-size: cover;
  background-repeat: none;
}

/*Customizing the Bootstrap hamburger color*/
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='goldenrod' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler {
  color: var(--main-color);
  border-color: var(--main-color);
  background-color: var(--text-color1);
}

.bg-dark {
  background-color: black !important;
}

/*Adjusting the links to the center*/
.navbar-nav {
  display: flex;
  justify-content: center;
  text-align: center;
}

.nav-item {
  margin-right: 20px;
  margin-left: 20px;
  list-style: none;
}

/*Adjusting the colours*/
.navbar-nav .nav-link {
  color: var(--text-color1);
  font-weight: bold;
}

.navbar-nav .nav-link:hover {
  color: var(--text-color2);
}

.navbar-brand {
  color: var(--text-color1);
}

/*Body Styles*/

body {
  width: 100%;
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--text-color2);
}

.header-content {
  height: 750px;
  width: 100%;
}

/*Style rules for the navigation bar*/

.logo {
  color: var(--main-color);
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
}
/*End of style rules for the navigation bar*/

#welcome-text {
  padding-top: 100px;
  padding-bottom: 0px;
  color: white;
  font-size: 100px;
  font-family: "Gill Sans";
}

/*Style for the header image*/
.tribal-image {
  width: 45%;
  margin: auto;
}

.top-hr {
  background-color: var(--bg-color);
  height: 8px;
  width: 35%;
  margin: auto;
  border: none;
  opacity: 100%;
}

.triangle-img {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 80px;
  bottom: 20px;
}

#testimonial-text {
  color: aliceblue;
  font-size: 80px;
  font-family: Impact;
  text-align: center;
  margin-top: 200px;
}

main {
  margin-bottom: 30px;
}

.middle-container {
  background-image: url("../images/background.png");
}

.tribal-box {
  background-color: rgb(122, 108, 2);
  padding-top: 30px;
  padding-bottom: 30px;
}

.tribal-box h1 {
  color: antiquewhite;
}

#tribal-pronounciation {
  color: rgb(255, 251, 249);
  font-style: oblique;
  font: bold;
}

.meaning {
  color: rgb(209, 207, 204);
}

.gateway-box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.gateway-box h1,
p {
  color: var(--text-color1);
}

#gateway-pronounciation {
  font-style: oblique;
  font-weight: bold;
}

.mission-box {
  background-color: var(--bg-color);
}

.mission-box .col-md-12 {
  text-align: center;
  padding-top: 100px;
}

.mission-text {
  color: aliceblue;
  font-size: 80px;
  font-family: Impact;
}

.mission-img-box {
  background-color: var(--bg-color);
}

.mission-img-box .col-md-12 {
  padding: 20px;
  border-radius: 40px;
  text-align: center;
}

.mission-img-top,
.mission-img-bottom {
  max-width: 100%;
  height: auto;
}

.mission-img-bottom {
  margin-bottom: 50px;
}

.mission-statement {
  margin-bottom: 50px;
  color: bisque;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
  margin-top: 50px;
}

.prize-container {
  background-image: url("../images/gold-black.jpg");
}

.prize-box {
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.5);
}

.prize-box h1 {
  color: aliceblue;
  font-size: 40px;
  font-family: Impact;
  text-align: left;
  padding-top: 0;
}

.prize-box p {
  text-align: left;
  color: whitesmoke;
}

.visiting-div {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 76%;
}

.visiting-text,
.visiting-text2 {
  font-weight: bolder;
}

.visiting-text2 {
  color: aliceblue;
}

.divider {
  border-bottom: var(--main-color) 10px solid;
  width: 100%;
}

#prizeCarousel {
  margin-top: 25px;
}

.picture-slide {
  width: 100%;
  height: 350px;
}

.country-gallery {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 90%;
}

.image-container {
  position: relative;
}

.modal-content {
  background-size: 100% 100%;
}

#NigeriaModal a {
  background-color: #430303;
  border-color: #4a1818;
}

#RwandaModal a {
  background-color: #430303;
  border-color: #4a1818;
}

#GhanaModal a {
  background-color: #430303;
  border-color: #4a1818;
}

.ghana-modal {
  background-image: url("../images/ghanaflag.jpg");
}

.rwanda-modal {
  background-image: url("../images/rwandaflag.png");
}

.nigeria-modal {
  background-image: url("../images/nigeriaflag.jpg");
}

.btn img {
  width: 100%;
  height: 250px;
  transition: transform 0.2s;
}

.btn:hover img {
  transform: scale(1.1);
  filter: brightness(0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.testimonial-container {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  margin-right: auto;
  margin-top: 40px;
}

.fa-star {
  color: var(--main-color);
}

.d-flex {
  display: flex;
  align-items: center; /* This centers the items vertically */
}

.d-flex h5 {
  color: white;
}

.card-body p {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.681);
  color: white;
  font-weight: bolder;
  border-radius: 10px;
}

.card-border {
  border: none;
}

footer {
  margin: 30px;
}

#copyright {
  color: rgb(232, 177, 13);
}

.pt-5 {
  height: 500px;
}

.py-5 {
  padding-top: 1rem !important;
}

.display-4 {
  text-shadow: 2px 2px 4px #000;
}

/*Responsive Styles for smaller screens*/
@media (max-width: 480px) {
  header {
    margin-bottom: 30px;
  }

  .header-content {
    height: 700px;
  }

  #video {
    width: 97%;
    height: 380px;
  }

  #welcome-text {
    padding-top: 20px;
    font-size: 30px;
    margin-bottom: 5px;
  }

  .tribal-image {
    width: 100%;
    height: 250px;
  }

  .top-hr {
    height: 10px;
    width: 35%;
  }

  .triangle-img {
    bottom: 5px;
  }

  .gateway-box {
    background-image: url("../images/background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .mission-box .col-md-12 {
    padding-top: 50px;
  }

  .mission-text {
    font-size: 2rem;
  }

  .mission-statement {
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.5rem;
    margin-top: 20px;
  }

  .prize-box {
    padding: 15px;
  }

  .prize-box h1 {
    font-size: 1.8rem;
  }

  .visiting-text {
    font-size: 1.8rem;
  }

  .visiting-text2 {
    font-size: 1.5rem;
  }

  #testimonial-text {
    font-size: 2rem;
    margin-top: 80px;
  }

  #vid {
    display: none;
  }

  .testimonial-container {
    background-image: url("../images/gold-black.jpg");
  }
}

@media (max-width: 760px) {
  header {
    margin-bottom: 30px;
  }

  .header-content {
    height: 580px;
  }

  #video {
    width: 98%;
    height: 550px;
  }

  #welcome-text {
    padding-top: 40px;
    font-size: 50px;
    margin-bottom: 10px;
  }

  .tribal-image {
    width: 75%;
    height: 300px;
  }

  .top-hr {
    height: 10px;
    width: 50%;
  }

  .triangle-img {
    bottom: 5px;
    height: 50px;
  }

  .gateway-box {
    background-image: url("../images/background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .mission-box .col-md-12 {
    padding-top: 50px;
  }

  .mission-text {
    font-size: 2rem;
  }

  .mission-statement {
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.5rem;
    margin-top: 20px;
  }

  .prize-container {
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .prize-box {
    padding: 15px;
  }

  .prize-box h1 {
    font-size: 1.8rem;
  }

  .picture-slide {
    width: 75%;
    height: 350px;
  }

  .visiting-text {
    font-size: 1.8rem;
  }

  .visiting-text2 {
    font-size: 1.5rem;
  }

  #testimonial-text {
    font-size: 2rem;
    margin-top: 80px;
  }

  #vid {
    display: none;
  }

  .testimonial-container {
    background-image: url("../images/gold-black.jpg");
  }
}

@media (max-width: 1024px) {
  header {
    padding: 10px;
  }

  .header-content {
    height: 700px;
    width: 100%;
  }

  footer {
    margin: 0px;
  }
}
