/*Import Poppins Font*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

/*Setting colours to variables in the root element*/
:root {
  --bg-color: #fff;
  --main-color: yellow;
  --text-color1: #000000;
  --text-color2: #fff;
  --text-color3: #4a1818;
}

/*Customizing the Bootstrap hamburger colo*/

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='yellow' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-dark .navbar-toggler {
  color: var(--main-color);
  border-color: var(--main-color);
}

.bg-dark {
  background-color: black !important;
}

/*Adjusting the links to the center*/
.navbar-nav {
  display: flex;
  justify-content: center;
  text-align: center;
}

.nav-item {
  margin-right: 20px;
  margin-left: 20px;
}

/*Adjusting the colours*/
.navbar-dark .navbar-nav .nav-link {
  color: var(--main-color);
}

.navbar-nav .nav-link:hover {
  color: var(--text-color2);
}

.navbar-dark .navbar-brand {
  color: var(--main-color);
}

/*Body Styles*/

body {
  width: 100%;
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
}

.header-content {
  height: 750px;
  width: 100%;
  background-color: #000000;
}

/*Style rules for the navigation bar*/



.logo {
  color: var(--main-color);
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
}

/*Responsive Styles for smaller screens*/
@media (max-width: 760px) {
  .text-center {
    font-size: 1.2rem;
    margin: auto;
    padding-bottom: 20px;
  }

  .triangle-img {
    height: 20px;
  }

  .top-hr {
    z-index: 800;
  }
}

@media (max-width: 480px) {
  .triangle-img {
    height: 20px;
  }
  .top-hr {
    z-index: 499;
  }
}
/*End of style rules for the navigation bar*/

/*Style for the header image*/
.tribal-image {
  width: 50%;
  margin: 0 auto 10px auto;
  padding-top: 8%;
  display: block;
}

.top-hr {
  background-color: var(--bg-color);
  height: 8px;
  width: 35%;
  margin: auto;
  border: none;
  opacity: 100%;
}

.welcome-text {
  color: var(--main-color);
  text-align: center;
  margin: 5% auto 3% 0;
  font-family: "Times New Roman", Times, serif;
  font-size: 4.5rem;
}

.triangle-img {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 2%;
}

.triangle-img img {
  width: 49.8%;
}

.middle-container {
  position: relative;
  width: 100%;
  margin: auto;
}

.middle-container img {
  display: block;
  width: 100%;
  height: auto;
}

.middle-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--text-color1);
  padding: 20px;
}

.definition-heading {
  color: var(--text-color3);
  font-weight: bold;
}

.mission-img {
  display: block;
  margin: 5% auto 0 auto;
  width: 90%;
}

.prize-div,
.visiting-div {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 76%;
}

.prize-text,
.visiting-text,
.visiting-text2 {
  font-weight: bolder;
}

.divider {
  border-bottom: goldenrod 10px solid;
  width: 100%;
}

#prizeCarousel,
#prizeSmaller {
  width: 76%;
}

#prizeCarousel {
  margin-bottom: 20px;
}

.bigger {
  width: 100%;
  height: 400px;
}

.smaller {
  width: 49%;
  height: 200px;
}

.country-gallery {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 90%;
}

.image-container {
  position: relative;
}

.btn img {
  width: 100%;
  height: 250px;
  transition: transform 0.2s;
}

.btn:hover img {
  transform: scale(1.1);
  filter: brightness(0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.testimonial-container {
  background-image: url("../images/Layer.jpg");
  background-size: cover;
  padding: 30px;
  margin-top: 50px;
}

.fa-star {
  color: #ffcc00;
}

.d-flex {
  display: flex;
  align-items: center; /* This centers the items vertically */
}

.d-flex h5 {
  color: white;
}

.card-body p {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  font-weight: bolder;
  border-radius: 10px;
}

.card-border {
  border: none;
}

footer {
  margin-top: 30px;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

/*Responsive rules for the smaller screens*/
@media (max-width: 1090px) {
  .welcome-text {
    font-size: 2.5rem;
    font-weight: bold;
  }

  .header-content {
    height: 340px;
    width: 100%;
    background-color: #000000;
  }

  .top-hr {
    background-color: var(--bg-color);
    height: 3px;
    width: 35%;
    margin: auto;
    border: none;
    opacity: 100%;
  }

  .middle-container {
    margin: 30% auto;
    padding: 14px 2%;
    transition: 0.2s;
  }

  .mission-img {
    width: 100%;
  }

  .bigger {
    width: 100%;
    height: 200px;
  }

  .smaller {
    width: 49%;
    height: 100px;
  }

  .prize-text {
    font-size: 2.5rem;
  }
}

@media (max-width: 600px) {
  .transport-header {
    height: 300px;
    width: 100%;
    background-color: #000000;
  }

  .prize-text {
    font-size: 1.2rem;
  }
}

@media (max-width: 900px) {
  .prize-text {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .prize-text {
    font-size: 1.2rem;
  }
}

.copyright {
  text-align: center;
  font-size: 1rem;
  margin: auto;
  padding-bottom: 2%;
}

/* Transport service */

.transport-header {
  height: 580px;
  width: 100%;
  background-color: #000000;
}

input[type="number"] {
  width: 80px;
}

.transport-form {
  padding: 30px;
  background-color: rgba(255, 215, 0, 0.2);
}

hr {
  height: 5px;
  background-color: gold;
}

.input-group-text {
  color: gold;
}

.cart {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 5px;
}

@media (max-width: 900px) {
  .transport-header {
    height: 450px;
    width: 100%;
    background-color: #000000;
  }
}

@media (max-width: 600px) {
  .transport-header {
    height: 300px;
    width: 100%;
    background-color: #000000;
  }
}

.dropdown-menu {
  z-index: 9999;
}
